$green: #3BC8AA;
$orange: #FF551A;
$black: #1E1E1E;

$titleFont: "PT Serif";
$bodyFont: "Work Sans";

body {
  color: $black;
  font-family: $bodyFont;
}

h1 {
  font-family: $titleFont;
}

h2 {
  font-family: $titleFont;
  color: $green;
}

