$green: #3BC8AA;
$orange: #FF551A;
$black: #1E1E1E;
$lightyellow: #ffeccf;

$titleFont: "PT Serif";
$bodyFont: "Work Sans";

* {
  box-sizing: border-box;
}

body {
  color: $black;
  font-family: $bodyFont;
  font-size: 18px;
  line-height: 1.5;
  margin: 0;
}

h1, h2, h3, h4, h5 {
  font-family: $titleFont;
}

header, main, footer {
  padding: 20px 30px 20px 30px;
}

a {
  color: $green;
}

header {
  background: $lightyellow;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  h1 {
    margin: 0;
    
    img {
      width: 80px;
    }
  }
}

main {
  min-height: calc(100vh - 150px);
}

footer {
  font-size: 14px;
  color: #999999;
}

label {
  display: block;
}

input, textarea {
  font-size: 18px;
  min-width: 400px;
  border: 1px solid #cccccc;
  padding: 7px 10px;
  font-family: inherit;
}

input[type=submit] {
  background: $orange;
  color: white;
  border-color: $orange;
}

textarea {
  min-height: 400px;
}


nav.filters {
  margin: 0 0 20px 0;
  padding: 0 0 10px 0;
  font-size: 14px;
  border-bottom: 2px solid $lightyellow;
  
  display: flex;
  align-items: center;
  
  a {
    margin: 0 5px 0 0;
    text-decoration: none;
    color: $black;
    
    &.active {
      color: $green;
    }
  }
  
  div, form {
    margin: 0 0 0 25px;
  }
  
  input {
    min-width: 200px;
    font-size: 14px;
    padding: 4px 5px;
  }
}

.comment {
  font-size: 14px;
  border-bottom: 2px solid $lightyellow;
  
  p.posted {
    color: #999999;
    font-size: 12px;
  }
}


.success {
  background: $green;
  color: white;
  padding: 10px 30px 10px 30px;
}

